:root {
  /* -----COLORS----- */
  --black: #000;
  --cream: #fdf1de;
  --yellow: #ffcc00;
  --sky: #accae8;
  --chili: #ff5a54;
  --pink: #ffb6d6;
  --grass: #43b786;
  --brown: #d0613d;

  /* DARK MODE (default)*/
  --background-col: var(--black);

  /* navbar */
  --navbar-text-col: var(--cream);

  /* toggle */
  --toggle-background-col: var(--cream);
  --toggle-btn-col: var(--black);
  --toggle-translateX: 0;

  /*logout*/
  --logout-col: var(--cream);

  /* inputs */
  --input-text-col: var(--cream);
  --input-background-col: var(--black);
  --input-stroke-col: var(--cream);
  --stroke-col: var(--cream);

  /* buttons */
  --primary-btn-background-col: var(--yellow);
  --secondary-btn-background-col: var(--sky);
}

/* LIGHT MODE (override)*/
html.light {
  --background-col: var(--cream);

   /* navbar */
  --navbar-text-col: var(--black);

   /* toggle */
  --toggle-background-col: var(--black);
  --toggle-btn-col: var(--cream);
  --toggle-translateX: 1.25rem;

  /*logout*/
  --logout-col: var(--black);

    /* inputs */
  --input-text-col: var(--black);
  --input-background-col: var(--cream);
  --input-stroke-col: var(--black);
  --stroke-col: var(--black);

    /* buttons */
  --primary-btn-background-col: var(--chili);
  --secondary-btn-background-col: var(--pink);
}

/* -----FONTS----- */
:root {
  --font-family: "Inter", sans-serif;
  --line-height: 150%;

  /* FONT SIZE */
  --font-size-input: 1rem;
  --font-size-usermail: 0.875rem;
  --font-size-task-card-title: 1.25rem;
  --font-size-task-card-description: 0.875rem;
  --font-size-delete-modal: 0.875rem;
  --font-size-delete-modal-btn: 0.875rem;
  --font-size-primary-btn: 1rem;
  --font-size-secondary-btn: 1rem;

  /* FONT WEIGHT */
  --font-weight-input: normal;
  --font-weight-usermail: bold;
  --font-weight-task-card-title: bold;
  --font-weight-task-card-description: normal;
  --font-weight-delete-modal: normal;
  --font-weight-delete-modal-btn: normal;
  --font-weight-primary-btn: bold;
  --font-weight-secondary-btn: bold;
}

/* ----- BASE STYLES ----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  /* min-width: 320px; */
  background-color: var(--background-col);
  font-family: var(--font-family);
  line-height: var(--line-height);
}

#app {
  min-width: 320px;
  max-width: 1440px;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  :root {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  :root {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  :root {
    font-size: 16px;
  }
}
